{% extends "base.html" %}
{% load static wagtailcore_tags wagtailimages_tags%}



{% block content %}

<div id="carousel-fc" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        {% for loop_cycle in page.carousel_images.all  %}
        <li data-target="#carousel-fc" data-slide-to="{{forloop.counter0}}" {% if forloop.counter == 1 %} class="active"
            {% endif %}></li>
        {% endfor %}
    </ol>

    <div class="carousel-inner">
        {% for loop_cycle in page.carousel_images.all %}
        <div class="carousel-item{% if forloop.counter == 1 %} active{% endif %}">
          {% image loop_cycle.carousel_image fill-950x400 as carousel_img %}
            <img src="{{carousel_img.url}}" class="d-block w-100" alt="{{ carousel_img.alt }}">
            <div class="carousel-caption d-none d-md-block text-left">
              {% if loop_cycle.carousel_header or loop_cycle.carousel_text %}
                <div class="bg-black-80 pa3 ">
                  {% if loop_cycle.carousel_header %}
                    <h5>{{ loop_cycle.carousel_header }}</h5>
                  {% endif %}
                  {% if loop_cycle.carousel_text %}
                    <p>{{ loop_cycle.carousel_text }}</p>
                  {% endif %}
                </div>                
              {% endif %}


            </div>
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carousel-fc" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-fc" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<section class="recent-news">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-3">
            <div class="col-md-7 heading-section text-center">
                <span class="subheading">Blog</span>
                <h2>Recent Updates</h2>
            </div>
        </div>
        {% if recent_blogs %}          
          <div class="row row-cols-1 row row-cols-lg-3 row-cols-md-2">
            {% for blog in recent_blogs.specific %}
            
              <div class="col mb-4">
                <div class="card">
                  {% image blog.blog_image fill-900x600 as img %}
                  <img src="{{img.url}}" class="card-img-top" alt="{{img.alt}}">
                  <div class="card-body">
                    <a href="{% pageurl blog %}">
                      <h5 class="card-title">{{blog.title}}</h5>
                    </a>
                    <p class="card-subtitle mb-2 text-muted">{{blog.date}}</p>
                    <p class="card-text">{{blog.first_paragraph|richtext|striptags|truncatechars:120}}</p>
                    <a href="{% pageurl blog %}" class="btn btn-main btn-block">Read more</a>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
    </div>
</section>

{% endblock %}