{% load static wagtailuserbar wagtailcore_tags wagtailfontawesome wagtailsettings_tags wagtailimages_tags%}
{% fontawesome_css %}
{% load menu_tags %}

<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">
        <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css"/>
        <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static 'wagtailfontawesome/css/fontawesome.css' %}">
        <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/mysite.css' %}">
    </head>

    <body class="{% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <div class="container nav-container position-relative">
                <a class="navbar-brand mr-3" href="/">
                    <div class="site-logo">
                        {% image settings.site_settings.WebsiteLogo.website_logo width-100  %}
                    </div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01"
                    aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
    
                <div class="collapse navbar-collapse" id="navbarColor01">
                    <ul class="navbar-nav ml-auto d-flex align-items-center">
                        {% main_menu template="menu.html" apply_active_classes=True %}
                    </ul>
                </div>            
            </div>
    
        </nav>

        
        {% block content %}{% endblock %}
        <section class="social-links py-5 bg-gold">
            <div class="container">
              <div class="row justify-content-center black">
                <div class="heading-section text-center">
                  <h2 class="ttu">Connect with Us</h2>
                  <span class="subheading">Follow us and get in touch</span>
                </div>
              </div>
              <div class="row d-flex justify-content-center mt-4">
                {% if settings.site_settings.SocialMediaSettings.facebook %}
                <a class="link white" href="{{settings.site_settings.SocialMediaSettings.facebook}}" target="_blank">
                  <div class="social m-3 br-100 br-100 d-flex bg-black justify-content-center align-items-center">
                    <i class="fa fa-facebook fa-3x"></i>
                  </div>
                </a>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.twitter %}
                <a class="link white" href="{{settings.site_settings.SocialMediaSettings.twitter}}" target="_blank">
                  <div class="social m-3 br-100 br-100 d-flex bg-black justify-content-center align-items-center">
                    <i class="fa fa-twitter fa-3x"></i>
                  </div>
                </a>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.linkedin %}
                <a class="link white" href="{{settings.site_settings.SocialMediaSettings.linkedin}}" target="_blank">
                  <div class="social m-3 br-100 br-100 d-flex bg-black justify-content-center align-items-center">
                    <i class="fa fa-linkedin fa-3x"></i>
                  </div>
                </a>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.instagram %}
                <a class="link white" href="{{settings.site_settings.SocialMediaSettings.instagram}}" target="_blank">
                  <div class="social m-3 br-100 br-100 d-flex bg-black justify-content-center align-items-center">
                    <i class="fa fa-instagram fa-3x"></i>
                  </div>
                </a>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.youtube %}
                <a class="link white" href="{{settings.site_settings.SocialMediaSettings.youtube}}" target="_blank">
                  <div class="social m-3 br-100 br-100 d-flex bg-black justify-content-center align-items-center">
                    <i class="fa fa-youtube-play fa-3x"></i>
                  </div>
                </a>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.pinterest %}
                <a class="link white" href="{{settings.site_settings.SocialMediaSettings.pinterest}}" target="_blank">
                  <div class="social m-3 br-100 br-100 d-flex bg-black justify-content-center align-items-center">
                    <i class="fa fa-pinterest fa-3x"></i>
                  </div>
                </a>
                {% endif %}
                {% if settings.site_settings.SocialMediaSettings.google %}
                <a class="link white" href="{{settings.site_settings.SocialMediaSettings.google}}" target="_blank">
                  <div class="social m-3 br-100 br-100 d-flex bg-black justify-content-center align-items-center">
                    <i class="fa fa-google fa-3x"></i>
                  </div>
                </a>
                {% endif %}
              </div>
            </div>
          </section>
        <footer class="bg-dark">

            <!-- Copyright -->
            <div class="text-white text-center py-3">
              Copyright ©<script type="text/javascript">
              document.write(new Date().getFullYear());
              </script> 
              London Jaguars Community Association - All rights reserved | Made with <i class="fa fa-heart-o"></i> by
              <a class="text-warning" href="https://github.com/amajai"> amajai</a>
            </div>
            <!-- Copyright -->
          
          </footer>
        {# Global javascript #}
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
        </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
        </script>
        <script src="{% static 'js/lightbox-plus-jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>
    </body>
</html>
