a {
    color: #333333;
    text-decoration: none;
    background-color: transparent;
    transition: .5s all ease;
}
p a {
    color: #d49a07;
}
img{
    width: 100%;
    max-width: 100%;
}
.link:focus {
    outline: 0;
}
a:hover{
    color: #d49a07;
    text-decoration: none;
}
.bg-img{
    background-image: url('../images/black_camo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.bg-img:before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background:rgba(0,0,0,1);
    opacity: .6; 
}
.home-vid{
    z-index: 8;
}
.navbar .container {
    padding: 15px 0;
}

.navbar .nav-link{
    font-size: 19px;
}

.navbar .site-logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0px;
    z-index: 10;
}

.active>.nav-link{
    color: #e6da33 !important
}

.nav-link:hover{
    color: #e6da33 !important;
}

.icon{
    color: #898989;
    margin-right: 15px;
}


/* Element colours */
.bg-light-dark{
    background-color: #222222 !important;
}
.bg-dark{
    background-color: #131313 !important;
}
.text-warning{
    color: #e6da33 !important;  
}

.btn-main{
    background-color: #ffb700
}
.btn-l{
    font-size: 30px;
    color: black;
}
.btn-main:hover{
    background-color: #ffd15b
}

/* carousel edits */
.carousel-inner .carousel-caption h5{
    font-size: 30px;
    display: inline;

}
.carousel-inner .carousel-caption p{
    font-size: 20px;
    color: #fffddc;
}

.recent-updates,
.about-us {
    padding: 4em 0;
    position: relative;
}
.counter-box{
    background-color: red;
    height: 100px;
}
.counter-box2{
    background-color: yellow;
    height: 100px;
}
.subheading {
    font-size: 16px;
    display: block;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.heading-section h2 {
    font-size: 40px;
    font-weight: 900;
}   

nav a:hover{
    color: #333333;
}

.pagination a:hover {
    background: #cacaca;
    color: #222222;
}

.page-item.active .page-link {
    z-index: 3;
    background: #cacaca;
    color: #222222;
    border-color: #DFD7CA;
}

.post-date{
    position: absolute;
    color: rgb(250, 0, 0);
}

.content-box{
    height: 600px;
}
.social{
    height: 70px;
    width: 70px;
}
.contact-i{
    height: 120px;
    width: 120px;
}

.box-h{
    height: 500px;
}




.responsive-object {
    position: relative; 
    padding-bottom: 56.25%; 
    height: 0; 
    overflow: hidden; 
}

.responsive-object iframe,
.responsive-object object,
.responsive-object embed {
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    position:absolute;
}

.responsive-object:after{
    font-size: 60px;    
    content: 'Video Loading..';
}


/* Large screens ----------- */
@media only screen
and (min-width : 1024px) {
    .responsive-object {
        position: relative; 
        padding-bottom: 19.25%; 
        height: 0; 
        overflow: hidden; 
    }
}

@media (min-width : 768px)
and (max-width : 1024px) {
    .responsive-object {
        position: relative; 
        padding-bottom: 28.25%; 
        height: 0; 
        overflow: hidden; 
    }
}
