{% extends "base.html" %}
{% load wagtailcore_tags widget_tweaks %}
    
{% block content %}
<header class="bg-gold">
    <div class="mw9 center tc pv4 ph6-l">
    <h3 class="f2 f1-m f-headline-l lh-title">
        <span class=" lh-copy black pa1 b">
            {{ page.title }}
        </span>
    </h3>
    <nav class="f6 fw6 ttu tracked black b">
        <a class="black" href="{{ page.get_parent.url }}" title="Home">Home</a> -
        <span class="black">{{ page.title }}</span>
        </nav>
    </div>
</header>

<section class="stat-box pt-3">
    <div class="container">
        <div class="row d-flex flex-wrap justify-content-center">
          {% if page.address %}
          <div class="col-md-4 my-5 tc d-flex flex-column align-items-center">
              <div class="contact-i mb-3 p-3 br-100 d-flex bg-black justify-content-center align-items-center">
                <i class="fa fa-map-marker fa-4x gold"></i>
              </div>
              <p class="b black f3 mb-0">Address:</p>
              <p class="f4-m f5-l black measure">{{page.address}}</p>
          </div>
          {% endif %}
          {% if page.contact_number %}
          <div class="col-md-4 my-5 tc d-flex flex-column align-items-center">
            <div class="contact-i mb-3 p-3 br-100 d-flex bg-black justify-content-center align-items-center">
              <i class="fa fa-phone fa-4x gold"></i>
            </div>
              <p class="b black f3 mb-0">Contact Number:</p>
              <p class="f4-m f5-l  black measure">{{page.contact_number}}</p>
          </div>
          {% endif %}
          {% if page.contact_email %}
          <div class="col-md-4 my-5 tc d-flex flex-column align-items-center">
              <div class="contact-i mb-3 p-3 br-100 d-flex bg-black justify-content-center align-items-center">
                <i class="fa fa-envelope fa-4x gold"></i>
              </div>
              <p class="b black f3 mb-0">Email Address:</p>
              <p class="f4-m f5-l black measure">{{page.contact_email}}</p>
          </div>
          {% endif %}
        </div>
    </div>
</section>

<section class="info-section-with-image py-5 bg-black gold">
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="b f1 ttu my-2 tc">Contact Us</h2>
                <p class="tc f4-l f5-m mb-5">For more information on the services we offer please contact us using the details below.</p>
                
                <form action="{% pageurl page %}" method="POST" class="mx-5 f4">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                      <div class="form-group">
                        <label for="{{ field.id_for_label }}">{{field.label_tag}}</label>
                        {% render_field field class+="form-control form-control-lg" placeholder=field.help_text id=field.id_for_label %}
                        {% for error in field.errors %}
                          <span class="help-block">{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% endfor %}

                    <button type="submit" class="btn-l btn btn-block btn-lg btn-main f5 black px-5 py-4">
                      Submit
                    </button>
                  </form>
        </div>
    </div>
</section>

{% endblock %}