{% extends "base.html" %}
{% load wagtailimages_tags wagtailcore_tags %}
    
{% block content %}
<header class="bg-gold">
    <div class="mw9 center tc pv4 ph6-l">
    <h3 class="f2 f1-m f-headline-l lh-title">
        <span class=" lh-copy black pa1 b">
            {{ page.title }}
        </span>
    </h3>
    <nav class="f6 fw6 ttu tracked black b">
        <a class="black" href="{{ page.get_parent.url }}" title="Home">Home</a> -
        <span class="black">{{ page.title }}</span>
        </nav>
    </div>
</header>

<section class="info-section-with-image py-5 bg-black">
    <div class="container">
        <div class="row">
            {% for service in page.services_list.all %}
                <div class="col-md-6  ">
                    <div class="my-3 ba bw2 b--gold p-4">
                        <h2 class="b f4-m f3-l ttu my-4 gold">{{service.subheading}}</h2>
                        <div class="f5-l f6-m white">{{service.paragraph|richtext}}</div> 
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>



<!-- <section class="stat-box py-5 ">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-6 tc my-4">
                <h2 class="b f1-m f2-l black">100</h2>
                <h2 class="b f3-m f3-l ttu gold">Game Played</h2>
            </div>
            <div class="col-md-3 col-6 tc my-4">
                <h2 class="b f1-m f2-l black">100</h2>
                <h2 class="b f3-m f3-l ttu gold">Coaches</h2>
            </div>
            <div class="col-md-3 col-6 tc my-4">
                <h2 class="b f1-m f2-l black">100</h2>
                <h2 class="b f3-m f3-l ttu gold">Trophies</h2>
            </div>
            <div class="col-md-3 col-6 tc my-4">
                <h2 class="b f1-m f2-l black">100</h2>
                <h2 class="b f3-m f3-l ttu gold">Members</h2>
            </div>
        </div>
    </div>
</section> -->
{% endblock %}